mixin left(title, text, imgUrl)
  .infobox-inner.infobox-left
    .infobox-text
      h2.infobox-title= title
      p= text
    .infobox-image
      img(src= imgUrl)


      //- (src="https://picsum.photos/290/230/?random")  url('"+ imageUrl + "')