mixin right(imgUrl)
  .infobox-inner.infobox-right
    .infobox-image
      img(src= imgUrl)
    .infobox-text
      p Tempora et rem quis recusandae officia impedit?', 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum temporibus distinctio molestiae, voluptatibus atque voluptas consectetur officiis harum. voluptatibus atque voluptas consectetur officiis harum voluptatibus atque voluptas consectetur officiis harum Ducimus ipsum perferendis incidunt iste at facere quibusdam illo minus fuga quidem iure aperiam voluptatibus illum temporibus facilis neque architecto sequi, nostrum cumque aliquid reprehenderit unde, deserunt assumenda deleniti. Tempora et rem quis recusandae officia impedit corrupti quae tempore voluptatibus pariatur esse laboriosam similique obcaecati ab, fuga dicta doloremque qui fugiat sint asperiores odio? Sit cum odio non placeat assumenda debitis facilis enim dolorum nisi veniam voluptas illo corporis impedit nesciunt quasi, labore quidem aspernatur. Neque in commodi tempora quia cupiditate est?