mixin two-columns-list(title, listElement)
    h3.two-columns__title = title
    .two-columns-inner
      .two-columns__list
        h4.two-columns__subtitle
        ul
          li
            = listElement
          li
            p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur, nam!
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero sint natus nihil saepe eos eligendi nemo reiciendis eveniet at aut.
                  