extends layouts/_default

block variables
	- const title = "About"

block content
	include components/_header
	include components/_infobox
	br
	br
	br
	include components/_checklist
	br
	br
	include components/_people-teaser
	br
	br
	include components/_two-columns
	include components/_footer