extends layouts/_default

block variables
	- const title = "Home"

block content
	include components/_header
	include components/_hero
	br
	include components/_infobox
	include components/_teasers
	include components/_location
	include components/_footer