footer.footer
  .footer__container
    .footer-inner
      //- .footer-wrapper
        //- .footer__adress-image
      .footer-image
        img(src="../images/footer-img.png")
      .footer-wrapper
        .footer-adress
          h4 Get in touch with us
          p Lorem ipsum dolor sit amet consectetur adipisicing.
          p Lorem ipsum dolor sit amet consectetur adipisicing.
          p  Kerp consectetur adipisicing.
          p  50434 Lorem
          p  Tel.: 
            a(href="tel:+78142332211") +7(898)-233-22-11
            |  or 
            a(href="tel:+78142332211") +7(898)-233-22-11
          p  E-Mail: 
            a(href="mailto:someone@yoursite.com") someone@yoursite.com
        .footer__contacts
          p  Cipsum dolor sit amet consectetur adipisicing.
          p  Lonsectetur adipisicing 1
          p  Tel.: 
            a(href="tel:+78142332211") +7(898)-233-22-11
          p  E-Mail: 
              a(href="mailto:someone@yoursite.com") someone@yoursite.com
    .footer-inner
      .footer-partners
        h3 Partners & Participants
        ul.footer-partners__list
          li
            a(href="#")
              img(src="https://picsum.photos/seed/picsum/200/100", alt="")
          li
            a(href="#")
              img(src="https://picsum.photos/seed/picsum/200/100", alt="")
          li
            a(href="#")
              img(src="https://picsum.photos/seed/picsum/200/100", alt="")
          li
            a(href="#")
              img(src="https://picsum.photos/seed/picsum/200/100", alt="")
          li
            a(href="#")
              img(src="https://picsum.photos/seed/picsum/200/100", alt="")
          li
            a(href="#")
              img(src="https://picsum.photos/seed/picsum/200/100", alt="")
    .footer-inner
      .footer-copyright
        p Copyright 2020 |
          a(href="#")  Imprint 
          span |
          a(href="#")  Privacy Policy
          a(href="#")  links




