.header.header
  .header__container
    .header__body
      a.header__logo(href='../html/home.html')
        img.header__logo-img(src="https://picsum.photos/318/77/?random", alt="")
      .header__burger
        span
      .header__menu-wrapper
        nav.header__menu
          ul.header__list
            li
              a.header__link(href='../html/about.html') About
            li
              a.header__link(href='#') Departments
            li
              a.header__link(href='#') Pls
            li
              a.header__link(href='#') Fellows
            li
              a.header__link(href='#') Programs
            li
              a.header__link(href='#') Application
            li
              a.header__link(href='#') Newsroom