.hero(style="background-image: url('https://picsum.photos/seed/picsum/1600/700');")
  .hero__container
    .hero-inner
      h1.hero-title Become an outstanding Translational Dantist
      h2.hero-subtitle Through one of our training programs at SMMO
      a.hero-link(href="#") Join the team!