.locations
  .locations__container
    .locations-inner
      .location
        h3.location-title Location Lorem
        .location-image
          img(src="https://picsum.photos/450/250/?random", alt="")
        p.location-subtitle Lorem ipsum dolor sit amet.
        p.location-adress
          | Exercitationem, deserunt 107 
          br
          | 93507 Doloribus
        p.location-phone Phone: 
          a(href="tel:+78142332211") +7(898)-233-22-11
        a.location-button.button-blue(href="#") Contact
      .location
        h3.location-title Location Lorem
        .location-image
          img(src="https://picsum.photos/450/250/?random", alt="")
        p.location-subtitle Lorem ipsum dolor sit amet.
        p.location-adress
          | Exercitationem, deserunt 107 
          br
          | 93507 Doloribus
        p.location-phone Phone: 
          a(href="tel:+78142332211") +7(898)-233-22-11
        a.location-button.button-blue(href="#") Contact