.people-teasers
  .people-teasers__container
    h2.people-teasers__title People you should know
    .people-teasers-inner
      .people-teaser
        .people-teaser__img
          img(src="../images/People-teaser.png", alt="")
        .people-teaser__contacts
          p Dr Lorem Ipsum
          p Coordination Office
          p
            | Department Obcaecati provident iure
            br
            | University Eius aliquam officiis
            br
            | Kugit Street 87, 47517 Kempora
          p  Phone: 
            a(href="tel:+78142332211") +7(898)-233-22-11
            br
            | Fax: 
            a(href="tel:+78142332211") +7(898)-233-22-11
            br
            |  E-Mail: 
            a(href="mailto:someone@yoursite.com") someone@yoursite.com
      .people-teaser
        .people-teaser__img
          img(src="../images/People-teaser.png", alt="")
        .people-teaser__contacts
          p Dr Lorem Ipsum
          p Coordination Office
          p
            | Department Obcaecati provident iure
            br
            | University Eius aliquam officiis
            br
            | Kugit Street 87, 47517 Kempora
          p  Phone: 
            a(href="tel:+78142332211") +7(898)-233-22-11
            br
            | Fax: 
            a(href="tel:+78142332211") +7(898)-233-22-11
            br
            |  E-Mail: 
            a(href="mailto:someone@yoursite.com") someone@yoursite.com
      .people-teaser
        .people-teaser__img
          img(src="../images/People-teaser.png", alt="")
        .people-teaser__contacts
          p Dr Lorem Ipsum
          p Coordination Office
          p
            | Department Obcaecati provident iure
            br
            | University Eius aliquam officiis
            br
            | Kugit Street 87, 47517 Kempora
          p  Phone: 
            a(href="tel:+78142332211") +7(898)-233-22-11
            br
            | Fax: 
            a(href="tel:+78142332211") +7(898)-233-22-11
            br
            |  E-Mail: 
            a(href="mailto:someone@yoursite.com") someone@yoursite.com