.teasers
  .teasers__container
    .teasers-inner
      .teaser
        h3.teaser-title Eveniet itaque
        .teaser-image
          img(src="https://picsum.photos/290/250/?random", alt="")
        .teaser-text
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et sit voluptatibus ducimus eligendi ullam quod vitae voluptas! Eveniet itaque doloremque sapiente ducimus cumque ad unde illum molestiae dolores totam officia officiis, velit sed quis, asperiores deleniti. Ex inventore unde ipsum cum, minima neque velit voluptatum eaque, eum, dolorum tempora amet?
        a.teaser-button(href="#") Read more
      .teaser
        h3.teaser-title Eveniet itaque
        .teaser-image
          img(src="https://picsum.photos/290/250/?random", alt="")
        .teaser-text
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et sit voluptatibus ducimus eligendi ullam quod vitae voluptas! Eveniet itaque doloremque sapiente ducimus cumque ad unde illum molestiae dolores totam officia officiis, velit sed quis, asperiores deleniti. Ex inventore unde ipsum cum, minima neque velit voluptatum eaque, eum, dolorum tempora amet?
        a.teaser-button(href="#") Read more
      .teaser
        h3.teaser-title Eveniet itaque
        .teaser-image
          img(src="https://picsum.photos/290/250/?random", alt="")
        .teaser-text
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et sit voluptatibus ducimus eligendi ullam quod vitae voluptas! Eveniet itaque doloremque sapiente ducimus cumque ad unde illum molestiae dolores totam officia officiis, velit sed quis, asperiores deleniti. Ex inventore unde ipsum cum, minima neque velit voluptatum eaque, eum, dolorum tempora amet?
        a.teaser-button(href="#") Read more
