.two-columns
  .two-columns__container
    h3.two-columns__title Governance panels
    .two-columns-inner
      .two-columns__text
        h4.two-columns__subtitle Lorem, ipsum.
        p
          | Department Obcaecati provident iure Eius aliquam officiis
          br
          | University Eius aliquam officiis
          br
          | Kugit Street 87, 47517 Kempora
          br
          | University Eius aliquam officiis
          br
          | University Eius aliquam officiis dolor sit amet consectetur, adipisicing elit
          br
          | University Eius aliquam officiis
          br
          | University Eius aliquam officiis dolor sit amet consectetur, adipisicing elit
          br
          | University Eius aliquam officiis
          br
          | University Eius aliquam officiis
          br
          | University Eius aliquam officiis
      .two-columns__text
        h4.two-columns__subtitle Lorem, ipsum.
        p
          | Department Obcaecati provident iure
          br
          | University Eius aliquam officiis
          br
          | Kugit Street 87, 47517 Kempora dolor sit amet consectetur, adipisicing elit
          br
          | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni, deleniti.
          br
          | University Eius aliquam officiis dolor sit amet consectetur, adipisicing elit
          br
          | University Eius aliquam officiis
          br
          | University Eius aliquam officiis dolor sit amet consectetur, adipisicing elit
          br
          | University Eius aliquam officiis
          br
          | University Eius aliquam officiis
          br
          | University Eius aliquam officiis