.two-columns
  .two-columns__container
    h3.two-columns__title Governance panels
    .two-columns-inner
      .two-columns__list
        h4.two-columns__subtitle Lorem, ipsum.
        ul
          li
            p Department Obcaecati provident iure Eius aliquam officiis
          li
            p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui, expedita. Odio recusandae id eaque corporis dolorem maiores dolore eius deleniti!
          li
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, fuga.
          li
            p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam doloribus perferendis ea harum magni laboriosam deleniti repudiandae vel, eveniet error quidem. Omnis iste fuga id dicta labore in ab nihil! Dolorum architecto et accusantium temporibus tempora, a ab voluptates similique.
      .two-columns__list
        h4.two-columns__subtitle Lorem, ipsum.
        ul
          li
            p Department Obcaecati provident iure Eius aliquam officiis
          li
            p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui, expedita. Odio recusandae id eaque corporis dolorem maiores dolore eius deleniti!
          li
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, fuga.
          li
            p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam doloribus perferendis ea harum magni laboriosam deleniti repudiandae vel, eveniet error quidem. Omnis iste fuga id dicta labore in ab nihil! Dolorum architecto et accusantium temporibus tempora, a ab voluptates similique.