body.lock {
  overflow: hidden;
}

.header {
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;

  &__container {
    @include make-container();
    @include make-container-max-widths();
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 2;
  }

  &__body {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
  }

  &__logo {
    position: relative;
    z-index: 3;

    @include media-breakpoint-up(lg) {
      flex: 0 0 200px;
    }

    &-img {
      display: block;
      width: 250px;

      @include media-breakpoint-up(lg) {
        width: 318px;
      }
    }
  }

  &__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;

    span {
      position: absolute;
      background-color: #000;
      left: 0;
      top: 9px;
      width: 100%;
      height: 2px;
      transition: .2s ease-in-out;
    }

    &::before, &::after {
      content: '';
      background-color: #000;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      transition: .2s ease-in-out;
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }

    &.active {
      span {
        transform: scale(0);
      }
    }

    &.active:before {
      transform: rotate(45deg);
      top: 9px;
    }

    &.active:after {
      transform: rotate(-45deg);
      bottom: 9px;
    }

    @include media-breakpoint-up(lg) {
      display: none;
    }
  }

  &__menu-wrapper {

    @include media-breakpoint-down(md) {
      width: 100%;
      height: 100%;
      background-color: #fff;
      position: fixed;
      top: -100%;
      left: 0;
      padding-top: 100px;
      transition: all 1s;
      overflow: auto;
    }

    &.active {
      top: 0;
    }
  }

  &__menu {

    @include media-breakpoint-down(md) {
      height: 100%;
      background-color: #fff;

      @include make-container();
      @include make-container-max-widths();
    }
  }

  &__list {
    display: flex;
    position: relative;
    flex-direction: column;

    li {
      margin-bottom: 20px;
      padding-top: 20px;
      border-top: 1px solid #f1f1f1;
    }

    @include media-breakpoint-up(lg) {
      flex-direction: row;
      z-index: 2;

      li {
        padding: 0;
        margin: 0 0 0 20px;
        border: none;
      }
    }
  }

  &__link {
    color: $primary;
    font-weight: 700;

    &:hover {
      opacity: 0.6;
      transition-duration: 0.125s;
      text-decoration: none;
      color: $primary;
    }

    &.selected {
      color: $secondary;
    }
  }
}