.two-columns {
  padding: 50px 0;

  &__container {
    @include make-container();
    @include make-container-max-widths();
  }

  &__title {
    text-align: center;
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 40px;
  }

  &-inner {
    @include make-row();
  }

  &__list {
    @include make-col-ready();
    @include make-col(12);

    @include media-breakpoint-up(md) {
      @include make-col(6);
      display: flex;
      flex-direction: column;
    }

    li {
      list-style: disc;
    }
  }

  &__subtitle {
    font-weight: 600;
    font-size: 1.4rem;
    text-align: left;
  }
}